<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

</body>
</html>
<div class="container">
  <div class="homepage">
    <div class="navbar">
      <img src="images/elementor-logo.png" alt="elementor-logo" class="logo">
      <div>
        <button class="btn btn-blue hide-on-mobile" type="button">Get Started</button>
      </div>
    </div>
    <div class="intro">
      <h4>Introducing Elementor 3.0</h4>
      <h1>A New Way <br class="hide-on-desktop">To Build Sites</br> With Elementor</h1>
      <h3>Revolutionize your workflow, and create faster, more <br class="hide-on-tablet">consistent websites with new professional features.</br></h3>
      <button class="btn btn-green" type="button">Watch Video</button>
    </div>
    <div class="screenshots">
      <img src="images/Hero-Image-Mobile.png" alt="">
    </div>
  </div>
</div>
